<!DOCTYPE html>
<html lang="es" ng-app="contactApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="author" content="M. Rivas">
  <meta name=”robots” content="Index, Follow">
  <!-- Favicon -->
  <link href="./assets/img/favicon.ico" rel="icon">
  <title>GICC | Centro Medico</title>
  <!-- Bootstrap core CSS -->
  <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="./assets/css/mdb.min.css" rel="stylesheet">
  <!-- Custom styles -->
  <link href="./assets/css/style.min.css" rel="stylesheet">
  <link href="./assets/css/login.min.css" rel="stylesheet">
  <!-- Index styles -->
  <link href="./assets/css/index.min.css" rel="stylesheet">
  <!-- AngularMaterial CSS-->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
</head>
<body>
  <!-- Main navigation -->
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar top-nav-collapse fixed-top">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        <ul class="navbar-nav mr-auto">
          <li class="ml-3 nav-item active">
            <a class="nav-link" href="#">Inicio</a>
            <span class="sr-only">(current)</span>
          </li>
          <li class="ml-3 nav-item">
            <a class="nav-link" href="./paginas/staff.html">Staff</a>
          </li>
          <li class="ml-3 nav-item">
            <a class="nav-link" href="#noticias">Noticias</a>
          </li>
          <li class="ml-3 nav-item">
            <a class="nav-link" href="#contacto">Contacto</a>
          </li>
          <li class="ml-3 nav-item">
            <div class="animate-flicker">
              <a class="nav-link alert alert-primary alert-link" style="margin-bottom:0px;color:black;" href="http://www.gicc.com.ar/paginas/turnero.html">Turnos Online</a>
            </div>
          </li>
          <li class="ml-3 nav-item float-right">
            <div class="nav-link white-text">
              <ion-icon class="prefix white-text active" name="call"></ion-icon>
              (02954) - 243243 / 244244
            </div>
          </li>
          <li class="ml-3 nav-item float-right">
            <a href="https://goo.gl/maps/GnWgtY2jH432">
              <div class="nav-link white-text">
                <ion-icon class="prefix white-text active" name="compass"></ion-icon>
                Marcelo T. de Alvear 154, Santa Rosa La Pampa
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
  <!-- Full Page Intro -->
  <div class="view" style="background-image: url('./assets/img/fondo.jpeg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <!--Grid column-->
        <div class="col-sm-12 col-md-6 mb-4 float-right">
          <!--Form-->
          <!-- Card -->
          <div class="card wow fadeInRight" data-wow-delay="0.3s">
            <div class="card-body">
              <div class="text-center">
                <h3 class="white-text">
                  GICC Prevención
                </h3>
              </div>
              <div class="row">
                <div class="card card-image" style="background-image: url('./assets/img/giccFoto.png');">
                  <!-- Content -->
                  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                    <div>
                      <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Noticias </h5>
                      <h3 class="card-title pt-2"><strong>Turnero Online!</strong></h3>
                      <p>Saque su turno rapidamente utilizando nuestro turnero online!</p>
                      <a class="btn btn-primary" href="http://www.gicc.com.ar/paginas/turnero.html"><ion-icon name="book"></ion-icon> Sacar turno </a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- Card -->
        </div>
        <!--/.Form-->
        <!--Grid column-->
        <!-- <div class="col-sm-12 col-md-6 mb-4 float-left ">
        <div style="height: 70vh;" class="card wow fadeInRight" data-wow-delay="0.3s">
        <div class="card-body">
        <div class="text-center">
        <h3 class="white-text">  <ion-icon name="map"></ion-icon> Donde estamos</h3>
      </div>
      <div class="row">
      <iframe style="height: 60vh;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1601.2015640759546!2d-64.28986919937338!3d-36.6166819181334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95c2cda7829b4e05%3A0x38cba5cf92e0d9b8!2sG.I.C.C!5e0!3m2!1ses-419!2sar!4v1539307611005" width="550" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
</div> -->
<!--Grid column-->
</div>
<!--Grid row-->
</div>
<!-- Content -->
</div>
<!-- Mask & flexbox options-->
</div>
<!-- Full Page Intro -->
<div class="container">
  <section id="noticias" class="my-5">
    <h2>Noticias</h2>
    <hr class="my-5">
    <div class="row">
      <div class="col-lg-7">
        <h3 class="font-weight-bold mb-3"><strong>Nuevo sistema de turnos</strong></h3>
        <p>
          Contamos con un nuevo sistema de turnos
        </p>
        <p>
          Para ingresar en el presione <a href="http://www.gicc.com.ar/paginas/turnero.html">aqui</a>.
        </p>
      </div>
    </div>
    <div id="contacto" class="row">
      <div class="col-md-6 col-sm-12">
        <a href="#!" class="green-text"><h6 class="font-weight-bold mb-3"><i class="fa fa-cutlery pr-2"></i>Preguntas</h6></a>
        <h3 class="font-weight-bold mb-3"><strong>Contactenos via email</strong></h3>
        <p>
          Por cualquier duda o consulta
          Contactenos completando el siguiente formulario
        </p>
      </div>
      <div class="col-md-6 col-sm-12">
        <div style="background-color: rgba(126,123,215,.9); !important" class="card wow fadeInLeft" data-wow-delay="0.3s">
          <div class="card-body" ng-controller="contactCtrl">
            <!--Header-->
            <div class="card-title">
              <div class="text-center">
                <h3 class="white-text">
                  <i class="fa fa-user white-text"></i> Contacto:
                </h3>
              </div>
            </div>
            <!--Body-->
            <div class="md-form">
              <ion-icon class="prefix white-text active" name="person"></ion-icon>
              <input type="text" id="contactNombre" class="white-text form-control" ng-model="contact.nombre" >
              <label for="contactNombre" class="active">Nombre completo</label>
            </div>
            <div class="md-form">
              <ion-icon class="prefix white-text active" name="mail"></ion-icon>
              <input type="text" id="contactEmail" class="white-text form-control" ng-model="contact.email" >
              <label for="contactEmail" class="active">Email</label>
            </div>
            <div class="md-form">
              <ion-icon class="prefix white-text active" name="call"></ion-icon>
              <input type="number" min="0" id="contactTelefono" class="white-text form-control" ng-model="contact.telefono" >
              <label for="contactTelefono" class="active">Telefono</label>
            </div>
            <div class="md-form">
              <ion-icon class="prefix white-text active" name="create"></ion-icon>
              <input type="text" id="contactMensaje" class="white-text form-control" ng-model="contact.mensaje" >
              <label for="contactMensaje" class="active">Mensaje</label>
            </div>
            <div class="text-center mt-4">
              <button class="btn btn-indigo" ng-click="clean()">Limpiar</button>
              <button class="btn btn-indigo" ng-click="doContact(contact)"><ion-icon name="paper-plane"></ion-icon> Enviar</button>
            </div>
          </div>
        </div>
        <!--/.Form-->
      </div>
    </div>
  </section>
  <hr class="my-5">
</div>
<hr class="my-5">
<!-- Main navigation -->
<!--Footer-->
<footer id="footer" class="page-footer text-center font-small wow fadeIn fixed-bottom">
  <!--Copyright-->
  <div class="footer-copyright py-3">
    <div class="col-12 float-left">
      <p class="text-uppercase tituloFooter">© GICC Todos los derechos reservados. | Marcelo T. de Alvear 154 | Email: gicc_recepcion@hotmail.com | Santa Rosa - La Pampa - C.P. 6300</p>
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->
<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="./assets/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="./assets/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="./assets/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="./assets/js/mdb.min.js"></script>
<!-- Ionicon JavaScript -->
<script src="https://unpkg.com/ionicons@4.3.0/dist/ionicons.js"></script>
<!-- Initializations -->
<script type="text/javascript">new WOW().init();</script>
<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
<!-- UtilJS -->
<script src="./assets/js/util.js"></script>
<!-- ContactApp -->
<script src="./app/contact.js"></script>
</body>

</html>
